PORT=4000

DATABASE_URL="mysql://home:home@localhost:3306/test"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_NAME="test"
DATABASE_USER="home"
DATABASE_PASSWORD="home"
# NOTE: Only postgresql or mysql supported
DATABASE_PROVIDER=

# NOTE: Changing this will cause accounts created with different password secret cannot login
PASSWORD_SECRET=e8ZfczuLj1olVpCI-18X9T4mY0RB
# NOTE: Changing this will cause ALL login sessions to expire
JWT_SECRET=uruaZk2iWl8LM0Rt78Ehsig_w0AO

# NOTE: make sure CORS is allowed! File downloads will use request presign so that
# client does not have to download from server, instead it downloads from the bucket directly

#CF_API_KEY=
S3_ACCESS_KEY_ID=
S3_ACCESS_SECRET=
# For Developers, use your IP, not localhost!
S3_ENDPOINT=
S3_BUCKET=
# Note: Minio or Cloudflare R2 officially supported
S3_PROVIDER=
# Note: Minio may require 'us-east-1'
S3_REGION=

# This is used for database generation
#DEV=true
