PORT=4000

DATABASE_URL="mysql://home:home@localhost:3306/test"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_NAME="test"
DATABASE_USER="home"
DATABASE_PASSWORD="home"

PASSWORD_SECRET=e8ZfczuLj1olVpCI-18X9T4mY0RB
JWT_SECRET=uruaZk2iWl8LM0Rt78Ehsig_w0AO
DEV=true